body{background:url(../img/fondo3.jpg) no-repeat center center fixed;
background-size: cover;}

html, body{
 font-family: "Exocet Blizzard Light", "Palatino Linotype", "Times", serif;;
}

.col-sm-4{
	padding:20px;
}
.botonmas{
	text-align:center;
	padding:10px;
}
.col1{
	background: rgba(11, 55, 152, 0.4);
	border: 4px ridge #d81506;
	color:white;
}
.col2{
	background: rgba(11, 55, 152, 0.4);
    border: 4px ridge #d81506;
	color:white;
}
.col3{
	background: rgba(11, 55, 152, 0.4);
    border: 4px ridge #d81506;
	color:white;
}
.borde{
	padding:10px;
}
.boton{
	text-align:center;
}
.container{
	padding-right:336px;
}
.publi{
	background: pink !important;
    position: absolute !important;
    right: 0!important;
    width: 336px !important;
}
.row1{
	padding-right: 336px;
}
@media (max-width: 768px){
	.publi{
		display:none;
	}
	.row1{
		padding:0%;
	}
	.publim{
		display:block!important;
		text-align:center;
		padding:10px;
	}
	.row{
		margin-right: 0px;
		margin-left: 0px;
	}
	.descripcion{
		font-size:20px;
	}
	.navbar-header{
		float:left;
	}
	
}
	.publim{
	display:none;
	overflow:hidden;
}
.imagen{
	width:100%;
}

.footer2{
	text-align:center;
	color:white;
	width:100%;
	position:relative;
	top:30%;
}
.logo{
	width:80px;
	height:50px;
	float:left;
}
.navbar-default{
	background:transparent;
}
.jumbotron{
	background:transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background:transparent;
	color:#a9a9a9;
}
.navbar-default .navbar-nav>li>a{
	color:#a9a9a9;
}
.tipoletra1{
	color:white!important;
	font-family: "Exocet Blizzard Light", "Palatino Linotype", "Times", serif;
}
.fondoprincipal{
	width:100%;
	border: 4px ridge #d81506;
}
.titulo{
	color:white;	
}
.publicidadm{
	width:100%;
}



@media (min-width: 768px){
.col-xs-12{
	display:table-cell;
    float:none;
}
.row{
	margin-right:0px!important;
}
.descripcion{
	font-size:17px;
}
}
.pruebaboton{
	text-align:center;
}
.arreglo{
	overflow:hidden;
}
.tipoletra{
	color:white;
	font-family: "Exocet Blizzard Light", "Palatino Linotype", "Times", serif;
}
.active{
	float:right;
}
.navbar{
	font-size:16px;
}
